html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 66px;
}

.footer {
    position: absolute;
    bottom: 0;
    color: #aaa;
    width: 100%;
    height: 66px;
    margin-top: auto;
}

.footer-container {
    margin: 18px 4rem 18px 4rem;
}

#footer {
    color: #aaa;
}

.navbar-default {
    background: #fff;
    border-color: #fff;
}

div.status_explain li {
    margin-left: 20px;
    font-size: 16px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    box-shadow: 0 1px 0 rgb(255 255 255 / 15%) inset, 0 2px 6px rgb(0 0 0 / 8%);
    border-radius: 8px;
}

.container .jumbotron {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}

pre {
    padding: 10px 15px;
    margin: 10px 0 10px;
    font-size: 14px;
    border: 0;
}

.panel {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.panel-footer {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 0;
}

.panel-default>.panel-body:not(.with-footer) {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.panel-default>.panel-body {
    box-shadow: rgb(0 0 0 / 6%) 0 20px 25px -5px, rgb(0 0 0 / 4%) 0 10px 10px -5px;
}

.panel-default>.panel-heading {
    background-image: linear-gradient(240deg, #fff 0, #f2f2f2 100%);
    border: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.panel-default>.panel-footer {
    background-image: linear-gradient(240deg, #fff 0, #f2f2f2 100%);
    border: 0;
}

.panel-default {
    border: 0;
}

.toprow {
    background-color: #fff;
    white-space: nowrap;
}

.table-striped>tbody>tr:nth-child(2n+1) {
    background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    html {
        filter: invert(1) hue-rotate(180deg);
    }

    body {
        background: #DBDBDB !important;
    }

    img {
        filter: invert(1) hue-rotate(180deg);
    }

    .jumbotron {
        filter: brightness(88%);
    }

    .btn-nm,
    .btn-sm,
    .btn-xs {
        color: #fff;
        filter: invert(1) hue-rotate(180deg) brightness(140%);
    }

    .label {
        color: #fff;
        filter: invert(1) hue-rotate(180deg) brightness(120%);
    }

    .label-info {
        background-color: #1AA2CB;
    }

    .navbar-default,
    .dropdown-menu {
        background: #E5E5E5;
    }
}

@media (max-width: 575.98px) {

    .news,
    #container {
        width: 95%;
    }

    #container_status {
        width: 95%;
    }

    .lr-container {
        margin: 0 10px;
    }

    .main-container,
    pre#code {
        margin: 10px;
    }

    .lg-container {
        margin: 5px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .news,
    #container {
        width: 95%;
    }

    #container_status {
        width: 90%;
    }

    .lr-container {
        margin: 0 15px;
    }

    .main-container,
    pre#code {
        margin: 15px;
    }

    .lg-container {
        margin: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .news,
    #container {
        width: 90%;
    }

    #container_status {
        width: 80%;
    }

    .lr-container {
        margin: 0 20px;
    }

    .main-container,
    pre#code {
        margin: 20px;
    }

    .lg-container {
        margin: 15px;
    }
}

@media (min-width: 992px) {

    .news,
    #container {
        width: 80%;
    }

    #container_status {
        width: 70%;
    }

    .lr-container {
        margin: 0 30px;
    }

    .main-container,
    pre#code {
        margin: 30px;
    }

    .lg-container {
        margin: 20px;
    }
}

img {
    height: auto;
    max-width: 100%;
}

.ud-margin {
    margin: 8px 0px;
}

.lr-margin {
    margin: 0px 8px;
}

.lr-padding {
    padding: 0px 8px;
}

.table {
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    background: #fff;
}

.table-bordered {
    box-shadow: none;
    border-radius: 0px;
}

.table-responsive {
    border: 0;
    padding: 3px;
}

.dropdown-menu,
.navbar-default {
    background-repeat: repeat-x;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .15) inset, 0 2px 6px rgba(0, 0, 0, .075);
}

.multiline {
    height: 300px;
    width: auto;
    margin: 4px 0;
}

.singleline {
    width: 200px;
    height: 30px;
    font-size: 18px;
    color: #000;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 6px;
    display: inline;
}

.editor-border {
    border: 1px solid #d9d9d9;
}

pre#code {
    border: 0;
    font-size: 18px;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .15) inset, 0 2px 6px rgba(0, 0, 0, .075);
}

.http_judge_form,
text-nowrap {
    white-space: nowrap;
}

.center {
    text-align: center
}

.mynav {
    margin-top: 20px
}

h3.pagenav {
    margin-top: 5px;
    margin-bottom: 20px;
}

h3.pagenav div.item {
    padding: 4px;
    margin: 3px;
    font-size: 16px;
    border: 1px solid #eee;
    border-radius: 3px;
    display: inline-block;
    width: 30px;
}

h3.pagenav div.item:hover {
    background-color: #ddd;
    cursor: pointer;
}

h3.pagenav div.active {
    color: #888;
}

#broadcast {
    height: 90px;
}

#problemset {
    margin-top: 20px;
}

.hint pre {
    display: none;
}

.red {
    color: #FF0000;
}

.green {
    color: #33CC33;
}

.blue {
    color: #0099FF;
}

.middle {
    width: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    width: 100%;
    line-height: 22px;
    cursor: text
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: 0;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777
}

.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: #fff
}

.bootstrap-tagsinput .tag [data-role=remove] {
    margin-left: 8px;
    cursor: pointer
}

.bootstrap-tagsinput .tag [data-role=remove]:after {
    content: "x";
    padding: 0 2px
}

.bootstrap-tagsinput .tag [data-role=remove]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05)
}

.bootstrap-tagsinput .tag [data-role=remove]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

table {
    border-collapse: collapse;
}

table.ud-margin td,
table.ud-margin th {
    padding: .4rem
}

table.ud-margin[border]:not([border="0"]):not([style*=border-width]) td,
table.ud-margin[border]:not([border="0"]):not([style*=border-width]) th {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
}

figure {
    display: table;
    margin: 1rem auto
}

figure figcaption {
    color: #999;
    display: block;
    margin-top: .25rem;
    text-align: center
}

.mce-content-body:not([dir=rtl]) blockquote {
    border-left: 2px solid #ccc;
    margin-left: 1.5rem;
    padding-left: 1rem
}

.mce-content-body[dir=rtl] blockquote {
    border-right: 2px solid #ccc;
    margin-right: 1.5rem;
    padding-right: 1rem
}

.keep-all {
    word-break: keep-all;
}

.break-all {
    word-break: break-all;
}

td.ans>img {
    max-width: 300px;
}

.bg-red {
    background-color: #ffa0a070;
}

.pe-3 {
    padding-right: 1.5rem;
}